# general (redundant) requirements
numpy==1.24.4
torch
torchvision
nibabel
scikit-image
pydicom
scipy
pyvista
git+https://github.com/liamjwang/pycuda.git@main # pycuda with OpenGL interop enabled, TODO: make a PR with an option to enable this
pynrrd
rich
opencv-python
seaborn
graphviz
pyglet>=1.4.11
PyOpenGL>=3.1.7
PyOpenGL_accelerate>=3.1.7
trimesh
git+https://github.com/liamjwang/pyrender.git@master # pyrender without hard PyOpenGL version requirement, replace this when new version is released
cupy-cuda11x
cuda-python

# development requirements
black # proper python style
pytest
trame
ipykernel
ipywidgets

